@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}

img {
  width: 600px;
  align-self: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-size: medium;
  padding: 5px;
  margin: 10px
}

a {
  text-decoration: none;
  color: grey
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  display: flex;
  justify-content: center;
}

button {
  padding-inline: 15px;
  padding-block: 7px
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}
